<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <img src="~/Images/Red sox 1.jpg" />
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
