
@{
    ViewBag.Title = "Clips";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Clips</h2>
<p>Watch Clips Here of the Boston Red Soxs</p>

<p>Enjoy Classic Matches</p>

<h6>Red Soxs vs. New York Yankees</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CVl0hTaIOOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h6>Red Soxs vs LA  Dodgers</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/z5T3bbyKVes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>Red Soxs vs. White Soxs</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0APT_4IX8EE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
