
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<h6>1900s-1930s</h6>
<p>
    Founded in 1901, the franchise (then unofficially known as the Boston Americans) was one of the eight charter members of the American League. The team played at the Huntington Avenue Grounds from 1901 to 1911 and moved to Fenway Park in 1912. The oldest of all current major league ballparks, Fenway is known for its quirky features, the most famous of which is the 37-foot 2-inch (11.3-metre) left field wall known as the “Green Monster.” The team officially took the name Boston Red Sox (“BoSox” or “Sox” for short) in 1908, adapting it from the Boston Red Stockings, the original name of Boston’s first professional baseball team (now the Atlanta Braves).

</p>
<h6>1930s-1940s</h6>
<p>
    Boston enjoyed immediate success with its superstar Cy Young, the premiere pitcher of his generation, and their talented third baseman and manager, Jimmy Collins. Boston won the very first World Series, in 1903, by defeating the Pittsburgh Pirates and continued its successful run in the 1910s, winning four more championships (1912, 1915, 1916, and 1918) with lineups that included centre fielder Tris Speaker (1907–15), pitcher Smokey Joe Wood (1908–15), and a young pitcher-turned-outfielder named Babe Ruth (1914–19).

</p>

<h6>1940s-1950s</h6>
<p>The team’s fortunes changed dramatically in 1920, however, with the notorious sale of Ruth to the New York Yankees by owner Harry Frazee. This was the genesis of the Red Sox–Yankees rivalry and of the supposed “Curse of the Bambino” (“Bambino” was one of Ruth’s nicknames), cited by many Red Sox fans as the reason the team failed to win another World Series in the 20th century while the Yankees went on to become baseball’s most successful franchise. After losing Ruth and other star players as well as their capable manager, Ed Barrow, to the Yankees, the Red Sox suffered through abysmal season after season over the next two decades.</p>

<h6>1950s-1960s</h6>
<p>Boston teams have featured some of the most talented hitters in baseball history, including Jimmie Foxx, Carl Yastrzemski, Carlton Fisk, Jim Rice, Manny Ramirez, and, most famously, Ted Williams, the left-handed outfielder considered by many to be the best pure hitter ever and the last player to bat above .400 in a season (.406 in 1941). Yet even with their great hitters and dominating pitchers—including Luis Tiant, Roger Clemens, and Pedro Martinez—the Red Sox were unable to win a championship between 1918 and 2004, often finding new and heartbreaking ways to lose crucial games. Making it to the World Series four more times (1946, 1967, 1975, 1986), the Red Sox lost each series in the seventh (and final) game. They also lost two AL pennant tiebreakers,</p>