
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<h6>Boston Red Soxs News </h6>

<h6>David Ortiz</h6>
<p>Check out the best of David Ortiz on the Red Sox, as he is eligible for Hall of Fame induction</p>
<img src="~/Images/Ortiz SAJ.jpg" />

<p>Check out the best of Roger Clemens on the Red Sox, as he is eligible for Hall of Fame election</p>
<img src="~/Images/SJAK.jpg" />